<article style="margin-left: <%= level * 50 %>px" id=c<%= comment.id %>>
  <div>
    <form action="/commentVote/<%= comment.id %>" method="post">
      <button class="<%= comment.voted ? 'outline' : '' %>">
        <%- include("icons/upvoteArrow") -%>
        <%= comment.votes %>
      </button>
    </form>
    <% if (user && (user.isAdmin || user.id == comment.UserId)) { %>
    <form action="/deletecomment/<%= comment.id %>" method="post">
      <button type="submit">
        <%- include("icons/trash") -%>
      </button>
    </form>
    <% } %>
    <% if (user) { %>
    <a href="/comments/<%= comment.id %>"><button>Reply</button></a>
    <% } %>
    <span><%= dateFormat(comment.createdAt) %></span>
    <span>
      by
      <a href="/users/<%= comment.UserId %>"><%= comment.User.name %></a>
    </span>
  </div>
  <% for (paragraph of comment.text.split("\r\n\r\n")) { %>
  <p><%= paragraph %></p>
  <% } %>
</article>
<% for (comment of comment.Children) { %>
<%- include("comment", {comment, level: level + 1}) -%>
<% } %>