<%- include("head") -%>
<article>
  <div>
    <form action="/commentVote/<%= comment.id %>?redirect=/comments/<%= comment.id %>" method="post">
      <button class="<%= comment.voted ? 'outline' : '' %>">
        <%- include("icons/upvoteArrow") -%>
        <%= comment.votes %>
      </button>
    </form>
    <% if (user.isAdmin || user.id == comment.UserId) { %>
    <form action="/deletecomment/<%= comment.id %>" method="post">
      <button type="submit">
        <%- include("icons/trash") -%>
      </button>
    </form>
    <a href="/editcomment/<%= comment.id %>">
      <button>
        <%- include("icons/edit") -%>
      </button>
    </a>
    <% } %>
    <span><%= dateFormat(comment.createdAt) %></span>
    <span>by
      <a href="/users/<%= comment.UserId %>"><%= comment.User.name %></a></span>
    <span>on <a href="/posts/<%= comment.PostId %>"><%= comment.Post.title %></a>
    </span>
  </div>
  <% for (paragraph of comment.text.split("\r\n\r\n")) { %>
  <p><%= paragraph %></p>
  <% } %>
</article>
<article>
  <form method="post">
    <label>
      Comment
      <textarea name="text"></textarea>
    </label>
    <% if (typeof(msg_fail) != "undefined") { %>
    <mark class="msg msg-fail"><%= msg_fail %></mark>
    <% } %>
    <button type="submit">Add comment</button>
  </form>
</article>
<%- include("foot") -%>