<% pageName = "Edit comment" %>
<%- include("head") -%>
<form method="post">
  <h2>Edit comment with id <%= id %></h2>
  <label>
    Text
    <textarea name="text" rows="5"><%= text %></textarea>
  </label>
  <% if (typeof(msg_fail) != "undefined") { %>
  <mark class="msg msg-fail"><%= msg_fail %></mark>
  <% } %>
  <div class="grid">
    <a href="/comments/<%= id %>">
      <button type="button" class="secondary">Cancel</button>
    </a>
    <button type="submit">Submit</button>
  </div>
</form>
<%- include("foot") -%>