<% pageName = "Frontpage" %>
<%- include("head") -%>
<details <%= filterActive ? "open" : null %>>
  <summary role="button" class="outline contrast">
    Filters
  </summary>
  <form class="grid">
    <label>
      by link type
      <%- include("linkTypes") -%>
      <input type="text" name="linkType" value="<%= filter.linkType %>" list="linkTypes">
    </label>
    <label>
      by category
      <%- include("categories") -%>
      <input type="text" name="category" value="<%= filter.category %>" list="categories">
    </label>
    <label>
      by user (name or id)
      <input type="text" name="user" value="<%= filter.user %>">
    </label>
    </div>
    <button type="submit">Apply filters</button>
</details>
<% for (post of posts) { %>
<article id="p<%= post.id %>">
  <div>
    <form action="/postVote/<%= post.id %>?redirect=/#p<%= post.id %>" method="post">
      <button class="<%= post.voted ? 'outline' : '' %>">
        <%- include("icons/upvoteArrow") -%>
        <%= post.votes %>
      </button>
    </form>
    <a href="/?category=<%= post.category %>"><button class="outline"><%= post.category %></button></a>
    <span><%= dateFormat(post.createdAt) %></span>
    <span>
      by
      <a href="/users/<%= post.UserId %>">
        <%- post.User.identicon -%>
        <%= post.User.name %>
      </a>
    </span>
  </div>
  <hr>
  <h2><a href="/posts/<%= post.id %>"><%= post.title %></a></h2>
  <% if (post.link) { %>
  <a href="/?linkType=<%= post.linkType %>"><button class="outline contrast"><%= post.linkType %></button></a>
  <a href="<%= post.link %>"><%= post.link %></a>
  <% } %>
</article>
<% } %>
<% if (offset + limit < count) { %>
<a href="?offset=<%= offset + limit %>">
  <button type="button">More <%- include ("icons/right") -%></button>
</a>
<% } %>
<%- include("foot") -%>