<% pageName = "Frontpage" %>
<%- include("head") -%>
<% for (post of posts) { %>
<article id="p<%= post.id %>">
  <div>
    <form action="/postVote/<%= post.id %>?redirect=/#p<%= post.id %>" method="post">
      <button class="<%= post.voted ? 'outline' : '' %>">
        <%- include("icons/upvoteArrow") -%>
        <%= post.votes %>
      </button>
    </form>
    <button class="contrast"><%= post.category %></button>
    <span><%= dateFormat(post.createdAt) %></span>
    <span>
      by
      <a href="/users/<%= post.UserId %>">
        <%- post.User.identicon -%>
        <%= post.User.name %>
      </a>
    </span>
  </div>
  <hr>
  <h2><a href="/posts/<%= post.id %>"><%= post.title %></a></h2>
  <% if (post.link) { %>
  <button class="outline contrast"><%= post.linkType %></button>
  <a href="<%= post.link %>"><%= post.link %></a>
  <% } %>
</article>
<% } %>
<% if (offset + limit < count) { %>
<a href="?offset=<%= offset + limit %>">
  <button type="button">More <%- include ("icons/right") -%></button>
</a>
<% } %>
<%- include("foot") -%>