<% pageName = undefined %>
<%- include("head") -%>
<% if (typeof(msg) != "undefined") { %>
<mark class="msg"><%= msg %></mark>
<% } else if (typeof(msg_fail) != "undefined") { %>
<mark class="msg msg-fail"><%= msg_fail %></mark>
<% } %>
<div class="grid">
  <% if (typeof(links) != "undefined") { for (link of links) { %>
  <a href="<%= link.href %>"><button><%= link.text %></button></a>
  <% }} %>
</div>
<%- include("foot") -%>