<% pageName = post.title %>
<%- include("head") -%>
<article>
  <div>
    <form action="/postVote/<%= post.id %>" method="post">
      <button class="<%= post.voted ? 'outline' : '' %>">
        <%- include("icons/upvoteArrow") -%>
        <%= post.votes %>
      </button>
    </form>
    <% if (user && (user.isAdmin || user.id == post.UserId)) { %>
    <form action="/deletepost/<%= post.id %>" method="post">
      <button type="submit">
        <%- include("icons/trash") -%>
      </button>
    </form>
    <a href="/editpost/<%= post.id %>">
      <button>
        <%- include("icons/edit") -%>
      </button>
    </a>
    <% } %>
    <button class="contrast"><%= post.category %></button>
    <span><%= dateFormat(post.createdAt) %></span>
    <span>
      by
      <a href="/users/<%= post.UserId %>">
        <%- post.User.identicon -%>
        <%= post.User.name %>
      </a>
    </span>
  </div>
  <hr>
  <h2><a href="/posts/<%= post.id %>"><%= post.title %></a></h2>
  <% if (post.link) { %>
  <button class="outline contrast"><%= post.linkType %></button>
  <a href="<%= post.link %>"><%= post.link %></a>
  <% } if (post.text) { for (paragraph of post.text.split("\r\n\r\n")) { %>
  <p><%= paragraph %></p>
  <% }} %>
</article>
<% if (user) { %>
<article>
  <form method="post">
    <label>
      Comment
      <textarea name="text"></textarea>
    </label>
    <% if (typeof(msg_fail) != "undefined") { %>
    <mark class="msg msg-fail"><%= msg_fail %></mark>
    <% } %>
    <button type="submit">Add comment</button>
  </form>
</article>
<% } for (comment of post.Comments) { %>
<%- include("comment", {comment, level: 0}) -%>
<% } %>
<%- include("foot") -%>