<% pageName = `${profile.name}'s profile` %>
<%- include("head") -%>
<article>
  <%- profile.identicon -%>
  <h2><%= pageName %></h2>
  <% if (profile.isAdmin) { %>
  <mark>Admin</mark>
  <% } %>
  <p>Points: <%= profile.get("points") %></p>
  <p>A member since <%= dateFormat(profile.createdAt) %></p>
  <p>
    view <%= profile.name %>'s posts:
    <a href="/?user=<%= profile.id %>">hot</a>
    <a href="/new?user=<%= profile.id %>">new</a>
    <a href="/top?user=<%= profile.id %>">top</a>
  </p>
  <p>
    view <%= profile.name %>'s comments:
    <a href="/comments?user=<%= profile.id %>">hot</a>
    <a href="/comments/new?user=<%= profile.id %>">new</a>
    <a href="/comments/top?user=<%= profile.id %>">top</a>
  </p>
  <h3>About</h3>
  <% if (profile.about) { for (paragraph of profile.about.split("\r\n\r\n")) {
  %>
  <p><%= paragraph %></p>
  <% }} else { %>
  <p>(no about text)</p>
  <% } %>
</article>
<% if (user && (profile.id == user.id || user.isAdmin)) { %>
<article>
  <form method="post">
    <h2>
      <%= user.isAdmin && profile.id != user.id ? "Change details of this user as an admin" : "Update your details" %>
    </h2>
    <% if (user.isAdmin && profile.id != user.id) { %>
    <label>
      Admin?
      <% if (isAdmin) { %>
      <input type="checkbox" name="isAdmin" checked>
      <% } else { %>
      <input type="checkbox" name="isAdmin">
      <% } %>
    </label>
    <% } %>
    <label>
      Name
      <input type="text" name="name" value="<%= name %>">
    </label>
    <label>
      Password
      <p><small>Leave empty if not changing it</small></p>
      <fieldset role="group">
        <input type="password" name="password" value="<%= password %>" id="passwordInput">
        <button type="button" class="outline" id="showPasswordButton" style="display: none;">show</button>
      </fieldset>
    </label>
    <label>
      Email
      <p><small>Only visible to admins, can be used to reset a forgotten password</small></p>
      <input type="email" name="email" value="<%= email %>">
    </label>
    <label>
      About
      <textarea name="about" rows="5"><%= about %></textarea>
    </label>
    <% if (typeof(msg) != "undefined") { %>
    <mark class="msg"><%= msg %></mark>
    <% } %> <% if (typeof(msg_fail) != "undefined") { %>
    <mark class="msg msg-fail"><%= msg_fail %></mark>
    <% } %>
    <button type="submit">Update details</button>
  </form>
</article>
<% } %>
<%- include("foot") -%>