<% pageName = profile.name + "'s" + " profile" %> <%- include("head") -%>
<article>
  <h2><%= pageName %></h2>
  <p>Admin: <%= profile.isAdmin ? "yes" : "no" %></p>
  <p>Account created at: <%= profile.createdAt %></p>
  <h3>About</h3>
  <% if (profile.about) { for (paragraph of profile.about.split("\r\n\r\n")) {
  %>
  <p><%= paragraph %></p>
  <% }} else { %>
  <p>(no about text)</p>
  <% } %>
</article>
<%- include("foot") -%>
