<% pageName = "Register" %>
<%- include("head") -%>
<form method="post" action="/register">
  <h2>Register</h2>
  <label>
    Name
    <input type="text" name="name" value="<%= name %>">
  </label>
  <label>
    Password
    <fieldset role="group" class="passwordInputGroup">
      <input type="password" name="password" value="<%= password %>">
      <button type="button" class="outline">show</button>
    </fieldset>
  </label>
  <label>
    Confirm password
    <fieldset role="group" class="passwordInputGroup">
      <input type="password" name="confirmPassword" value="<%= confirmPassword %>">
      <button type="button" class="outline">show</button>
    </fieldset>
  </label>
  <% if (typeof(msg_fail) != "undefined") { %>
  <mark class="msg msg-fail"><%= msg_fail %></mark>
  <% } %>
  <button type="submit">Register</button>
</form>
<%- include("foot") -%>